<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.takinframework.web.buss.mapper.JwebDepotOutMapper" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="org.takinframework.web.buss.entity.JwebDepotOut" >
	<result column="id" property="id"/>
	<result column="createBy" property="createBy"/>
	<result column="createName" property="createName"/>
	<result column="createDate" property="createDate"/>
	<result column="updateDate" property="updateDate"/>
	<result column="updateBy" property="updateBy"/>
	<result column="updateName" property="updateName"/>
	<result column="averaTempera" property="averaTempera"/>
	<result column="averaHumidity" property="averaHumidity"/>
	<result column="depotId" property="depotId"/>
</resultMap>
       
<!-- jweb_depot_out table all fields -->
<sql id="Base_Column_List" >
	 id,createBy,createName,createDate,updateDate,updateBy,updateName,averaTempera,averaHumidity,depotId
</sql>
   
   
<!-- 查询条件 -->
<sql id="Example_Where_Clause">
	where 1=1
 	<trim  suffixOverrides="and|or" >
	<if test="createBy != null  and createBy != '' ">
		 and createBy=#{createBy}
	</if>
	<if test="createName != null  and createName != '' ">
		 and createName=#{createName}
	</if>
	<if test="createDate != null  ">
		 and createDate=#{createDate}
	</if>
	<if test="updateDate != null  ">
		 and updateDate=#{updateDate}
	</if>
	<if test="updateBy != null  and updateBy != '' ">
		 and updateBy=#{updateBy}
	</if>
	<if test="updateName != null  and updateName != '' ">
		 and updateName=#{updateName}
	</if>
	<if test="averaTempera != null  ">
		 and averaTempera=#{averaTempera}
	</if>
	<if test="averaHumidity != null  ">
		 and averaHumidity=#{averaHumidity}
	</if>
	<if test="depotId != null  and depotId != '' ">
		 and depotId=#{depotId}
	</if>
	</trim>
</sql>

<!-- 检测是否存在 -->   
<select id="checkEntityExits"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from jweb_depot_out
	 <include refid="Example_Where_Clause"/>
</select>
   

<!-- 插入记录 -->
<insert id="insert" parameterType="Object" >
  insert into jweb_depot_out(id,createBy,createName,createDate,updateDate,updateBy,updateName,averaTempera,averaHumidity,depotId)
 values(#{id},#{createBy},#{createName},now(),now(),#{updateBy},#{updateName},#{averaTempera},#{averaHumidity},#{depotId})
</insert>

<!-- 根据id，修改记录-->  
 <update id="update" parameterType="Object" >
  update jweb_depot_out set createBy=#{createBy},createName=#{createName},createDate=#{createDate},updateDate=now(),updateBy=#{updateBy},updateName=#{updateName},averaTempera=#{averaTempera},averaHumidity=#{averaHumidity},depotId=#{depotId} where id=#{id}
 </update>
 
 <!-- 修改记录，只修改只不为空的字段 -->
<update id="updateBySelective" parameterType="Object" >
	update jweb_depot_out set 
	<trim  suffixOverrides="," >
	<if test="createBy != null  and createBy != '' ">
		createBy=#{createBy},
	</if>
	<if test="createName != null  and createName != '' ">
		createName=#{createName},
	</if>
	<if test="createDate != null  ">
		createDate=#{createDate},
	</if>
	<if test="updateDate != null  ">
		updateDate=#{updateDate},
	</if>
	<if test="updateBy != null  and updateBy != '' ">
		updateBy=#{updateBy},
	</if>
	<if test="updateName != null  and updateName != '' ">
		updateName=#{updateName},
	</if>
	<if test="averaTempera != null  ">
		averaTempera=#{averaTempera},
	</if>
	<if test="averaHumidity != null  ">
		averaHumidity=#{averaHumidity},
	</if>
	<if test="depotId != null  and depotId != '' ">
		depotId=#{depotId},
	</if>
	</trim> where id=#{id}
</update>

<!-- 删除记录 -->
<delete id="deleteById" parameterType="Object">
	delete 	 from jweb_depot_out where id = #{id}
</delete>
 
<!-- 根据id查询 jweb_depot_out -->
<select id="selectById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from jweb_depot_out where id = #{id}
</select>

<!-- sys_user 列表总数-->
<select id="selectByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from jweb_depot_out 
	<include refid="Example_Where_Clause"/>
</select>

<!-- 查询sys_user列表 -->
<select id="selectByList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from jweb_depot_out 
	<include refid="Example_Where_Clause"/>
	<if test="page.orderBy != null and page.orderBy != ''" >
		order by ${page.orderBy}
    </if>
</select>

<!-- 查询sys_user列表 -->
<select id="selectAll" resultMap="BaseResultMap">
	select 
	<include refid="Base_Column_List"/>
	from jweb_depot_out
</select>

<!-- jweb_depot_out 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from jweb_depot_out 
	<include refid="Example_Where_Clause"/>
	<if test="page.orderBy != null and page.orderBy != ''" >
		order by ${page.orderBy}
    </if>
</select>
  	
<!-- 查询jweb_depot_out列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from jweb_depot_out 
	<include refid="Example_Where_Clause"/>
	<if test="page.orderBy != null and page.orderBy != ''" >
		order by ${page.orderBy}
    </if>
</select>
  	
</mapper>   
