<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.takinframework.web.buss.mapper.TfBarnWeihuMapper" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="org.takinframework.web.buss.entity.TfBarnWeihu" >
	<result column="id" property="id"/>
	<result column="createBy" property="createBy"/>
	<result column="createName" property="createName"/>
	<result column="createDate" property="createDate"/>
	<result column="updateDate" property="updateDate"/>
	<result column="updateBy" property="updateBy"/>
	<result column="updateName" property="updateName"/>
	<result column="whTime" property="whTime"/>
	<result column="whName" property="whName"/>
	<result column="whQiKua" property="whQiKua"/>
	<result column="whBeiZ" property="whBeiZ"/>
</resultMap>
       
<!-- tf_barn_weihu table all fields -->
<sql id="Base_Column_List" >
	 id,createBy,createName,createDate,updateDate,updateBy,updateName,whTime,whName,whQiKua,whBeiZ
</sql>
   
   
<!-- 查询条件 -->
<sql id="Example_Where_Clause">
	where 1=1
 	<trim  suffixOverrides="and|or" >
	<if test="createBy != null  and createBy != '' ">
		 and createBy=#{createBy}
	</if>
	<if test="createName != null  and createName != '' ">
		 and createName=#{createName}
	</if>
	<if test="createDate != null  ">
		 and createDate=#{createDate}
	</if>
	<if test="updateDate != null  ">
		 and updateDate=#{updateDate}
	</if>
	<if test="updateBy != null  and updateBy != '' ">
		 and updateBy=#{updateBy}
	</if>
	<if test="updateName != null  and updateName != '' ">
		 and updateName=#{updateName}
	</if>
	<if test="whTime != null  and whTime != '' ">
		 and whTime=#{whTime}
	</if>
	<if test="whName != null  and whName != '' ">
		 and whName=#{whName}
	</if>
	<if test="whQiKua != null  and whQiKua != '' ">
		 and whQiKua=#{whQiKua}
	</if>
	<if test="whBeiZ != null  and whBeiZ != '' ">
		 and whBeiZ=#{whBeiZ}
	</if>
	</trim>
</sql>

<!-- 检测是否存在 -->   
<select id="checkEntityExits"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from tf_barn_weihu
	 <include refid="Example_Where_Clause"/>
</select>
   

<!-- 插入记录 -->
<insert id="insert" parameterType="Object" >
  insert into tf_barn_weihu(id,createBy,createName,createDate,updateDate,updateBy,updateName,whTime,whName,whQiKua,whBeiZ)
 values(#{id},#{createBy},#{createName},now(),now(),#{updateBy},#{updateName},#{whTime},#{whName},#{whQiKua},#{whBeiZ})
</insert>

<!-- 根据id，修改记录-->  
 <update id="update" parameterType="Object" >
  update tf_barn_weihu set createBy=#{createBy},createName=#{createName},createDate=#{createDate},updateDate=now(),updateBy=#{updateBy},updateName=#{updateName},whTime=#{whTime},whName=#{whName},whQiKua=#{whQiKua},whBeiZ=#{whBeiZ} where id=#{id}
 </update>
 
 <!-- 修改记录，只修改只不为空的字段 -->
<update id="updateBySelective" parameterType="Object" >
	update tf_barn_weihu set 
	<trim  suffixOverrides="," >
	<if test="createBy != null  and createBy != '' ">
		createBy=#{createBy},
	</if>
	<if test="createName != null  and createName != '' ">
		createName=#{createName},
	</if>
	<if test="createDate != null  ">
		createDate=#{createDate},
	</if>
	<if test="updateDate != null  ">
		updateDate=#{updateDate},
	</if>
	<if test="updateBy != null  and updateBy != '' ">
		updateBy=#{updateBy},
	</if>
	<if test="updateName != null  and updateName != '' ">
		updateName=#{updateName},
	</if>
	<if test="whTime != null  and whTime != '' ">
		whTime=#{whTime},
	</if>
	<if test="whName != null  and whName != '' ">
		whName=#{whName},
	</if>
	<if test="whQiKua != null  and whQiKua != '' ">
		whQiKua=#{whQiKua},
	</if>
	<if test="whBeiZ != null  and whBeiZ != '' ">
		whBeiZ=#{whBeiZ},
	</if>
	</trim> where id=#{id}
</update>

<!-- 删除记录 -->
<delete id="deleteById" parameterType="Object">
	delete 	 from tf_barn_weihu where id = #{id}
</delete>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete 	 from tf_barn_weihu 
	<include refid="Example_Where_Clause"/>
</delete>
 
<!-- 根据id查询 tf_barn_weihu -->
<select id="selectById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from tf_barn_weihu where id = #{id}
</select>

<!-- sys_user 列表总数-->
<select id="selectByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from tf_barn_weihu 
	<include refid="Example_Where_Clause"/>
</select>

<!-- 查询sys_user列表 -->
<select id="selectByList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from tf_barn_weihu 
	<include refid="Example_Where_Clause"/>
	<if test="page.orderBy != null and page.orderBy != ''" >
		order by ${page.orderBy}
    </if>
</select>

<!-- 查询sys_user列表 -->
<select id="selectAll" resultMap="BaseResultMap">
	select 
	<include refid="Base_Column_List"/>
	from tf_barn_weihu
</select>

<!-- tf_barn_weihu 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from tf_barn_weihu 
	<include refid="Example_Where_Clause"/>
	<if test="page.orderBy != null and page.orderBy != ''" >
		order by ${page.orderBy}
    </if>
</select>
  	
<!-- 查询tf_barn_weihu列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from tf_barn_weihu 
	<include refid="Example_Where_Clause"/>
	<if test="page.orderBy != null and page.orderBy != ''" >
		order by ${page.orderBy}
    </if>
</select>
  	
</mapper>   
